@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #319BFC;
    padding: 16px 69px 16px 69px;
    position: fixed;
    z-index: 100;
}

.containerNavBar {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.containerNavBar .withImg {
    width: 140px;
    height: 38px;
}

.containerNavBar .containerLogin {
    width: 195px;
    height: 28px;
    justify-content: end;
    gap: 30px;
    display: flex;
    align-items: center;
}

.containerNavBar .containerLogin .responsiveMenu {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.containerNavBar .containerLogin i {
    color: white;
}

.userName {
    display: flex;
    gap: 4px;
}

.containerNavBar .containerLogin .userName h4,
.containerNavBar .containerLogin .userName i {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
}

nav .menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 25px;
    width: 200px;
    height: auto;
    min-width: 100px;
    background: #319BFC;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    border-radius: 5px;
}

nav .menu.active {
    opacity: 1;
    visibility: visible;
}

nav .menu i {
    display: flex;
    justify-content: center;
    margin-top: -2px;
    color: #319BFC;
}

nav .menu h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

/*  body */

.containerBody {
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.jpg');
    display: flex;
    padding: 42px 69px 0px 69px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.1),
        inset 5px 5px 10px #fff;
}

.containerBody .sidebar {
    display: flex;
    position: fixed;
    width: 211px;
    height: calc(85% - 50px);
    margin-top: 50px;
    border-radius: 10px;
    background: #fff;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.containerBody .sidebar .sidebarFirst {
    width: 100%;
    height: 32px;
    background-color: #319BFC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 4px 0px 4px 8px;
}

.containerBody .sidebar .sidebarFirst h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    color: #fff;
}

.containerBody .sidebar .sidebarFirst i {
    color: #fff;
}

.containerBody .sidebar .sidebarLast {
    width: 100%;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 4px 0px 4px 8px;
    margin: 12px 0px 0px 0px;
    border-radius: 10px;
}

.containerBody .sidebar .sidebarLast h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    color: #000;
}

.containerBody .sidebar .sidebarLast .icon {
    width: 100%;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 4px 8px;
    margin: 12px;
    gap: 10px;
}

.containerBody .content {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 211px;
    padding: 50px 60px 70px 60px;
    /* justify-content: center; */
    flex-direction: column;
}

.containerBody .content .contentTop {

    width: 100%;
    height: 103px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-between;

}

.containerBody .content .contentTop .balance {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.containerBody .content .contentTop .balance h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    color: #000;
}

.containerBody .content .contentTop .balance h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #000;
}

.containerBody .content .contentBottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 42px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.containerBody .content .contentBottom h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;

}

.containerBody .content .contentBottom .titleTable {
    width: 100%;
    height: 41px;
    border-radius: 10px;
    margin-top: 12px;
    background-color: #808080;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1),
        5px 5px 10px #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.containerBody .content .contentBottom .titleTable h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    color: #FFF;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.containerBody .content .contentBottom .DescriptionTable {
    width: 100%;
    height: 41px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.1),
        inset 5px 5px 10px #fff;
}

.containerBody .content .contentBottom .DescriptionTable h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100px;
    gap: 10px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
}

.toggle {
    all: unset;
    color: #000;
    width: 80px;
    padding: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.toggle::after {
    content: "";
    width: 6px;
    height: 6px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    transform: rotate(45deg);
    transition: 0.4s;
}

.list {
    background-color: rgba(0, 0, 0, 0.5);
    color: #444;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 40px);
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
    position: absolute;
    width: 190px;
    margin-top: 180px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s, transform 0.4s var(--delay);
    transform: translateX(-100%);
    user-select: none;
    cursor: pointer;
    color: #fff;
}

.list-item:hover {
    color: #fff;
}

.toggle:focus::after {
    transform: rotate(225deg);
}

.toggle:focus~.list {
    height: 160px;
}

.toggle:focus~.list .list-item {
    transform: translateX(0);
}

a {
    text-decoration: none;
}

.containerBody .content .containerSearch {
    width: 100%;
    height: 42px;
    /* margin-bottom: 42px; */
    background: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    border-radius: 10px;
    padding: 10px 24px 10px 24px;
}

.containerBody .content .containerSearch h4 {
    font-size: 14px;
    font-weight: 400;
}

/* tabs */
.fontTabs {
    font-size: 28px;
    font-weight: 700;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    justify-content: center;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    z-index: 9;
    /* margin-left: 380px; */
    width: 100%;
    height: 100%;
}

.containerForm {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

/* Add styles to the form container */
.form-container {
    width: 350px;
    padding: 10px;
    background-color: white;
    flex-direction: column;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1),
        5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #fff;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #fff;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-popup .containerForm .form-container h4 {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tokenName {
    width: 100%;
    height: 42px;
    background: #FFF;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 12px;
}

.btnContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPopup {
    width: 284px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #319BFC;
    border: 0px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

/* scc add product */
.containerAddProduct {
    width: 100%;
    height: 100%;
    margin: 69px 0 69px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #fff;
    padding: 15px 61px 15px 61px;
    border-radius: 10px;
    padding: 50px;
}

.containerAddProductDescription {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
}

.containerAddProduct .containerAddProductLeft {
    width: calc((100% / 2) - 60px);
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
}

.containerAddProduct .containerAddProductRight {
    width: calc((100% / 2) - 60px);
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.containerAddProduct .containerAddProductRight .confirm {
    width: 100%;
    height: 42px;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAddProduct .containerAddProductRight .confirm h4 {
    width: 213px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #319BFC;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.63px;
    color: #fff;
}


.containerAddProduct h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    color: #000;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAddProduct .containerAddProductLeft .containerImg {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.containerAddProduct .containerAddProductLeft .containerImg .containerImgSmall {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.containerAddProduct .containerAddProductLeft .containerTitleProduct {
    width: 100%;
    height: 82px;
}

.containerAddProduct .containerAddProductLeft .containerTitleProduct .containerText {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
}

.containerAddProduct .containerAddProductLeft h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    margin-bottom: 10px;
}

.containerLabelCheckBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.containerLabelCheckBox .textInput {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #000;
}

.containerLabelCheckBox .textInput .txtRed {
    color: #FF0000;
}

.containerAddProduct .containerAddProductBottom {
    width: 100%;
    /* height: 200px; */
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerAddProduct .containerAddProductBottom h3 {
    color: #FF0000;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
}

.containerAddProduct .containerAddProductBottom .containerText {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
}

/* accordion */
.sidebarAccordion {
    width: 100%;

}

.sidebarAccordion .sidebarContentBx {
    position: relative;
}



.sidebarAccordion .sidebarContentBx .sidebarLabel {
    position: relative;
    padding: 10px;
    background: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    border-radius: 5px;
}

.sidebarAccordion .sidebarContentBx .sidebarLabel .label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.sidebarAccordion .sidebarContentBx .sidebarContent {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.sidebarAccordion .sidebarContentBx .sidebarContent.active {
    height: auto;
    padding: 3px 30px 3px 30px;
    visibility: visible;
    opacity: 1;
}

/* aa */
/* accordion */
.sidebarAccordion1 {
    width: 100%;

}

.sidebarAccordion1 .sidebarContentBx1 {
    position: relative;
}



.sidebarAccordion1 .sidebarContentBx1 .sidebarLabel1 {
    position: relative;
    padding: 10px;
    background: #319BFC;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    border-radius: 5px;
}

.sidebarAccordion1 .sidebarContentBx1 .sidebarLabel1 .label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.sidebarAccordion1 .sidebarContentBx1 .sidebarContent1 {
    height: 0;
    visibility: visible;
    opacity: 1;
}

.sidebarAccordion1 .sidebarContentBx1 .sidebarContent1.active {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
    visibility: hidden;
    opacity: 0;
}

.sidebarContent1 a {
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    padding: 10px 30px 0px 30px;

}

.sidebarContent1 .btnActive {
    width: 100%;
    height: 25px;
    background: #319BFC;
    border-radius: 5px;
    color: #FFF;

}



/* product management */

.containerBody .content .contentTop .containerKeyWords {
    position: relative;
    margin-top: 4px;
    width: 219px;
    height: 100%;
}

.containerBody .content .contentTop .containerKeyWords h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    color: #000;
}


.containerBody .content .contentTop .containerKeyWords input,
.containerBody .content .contentTop .containerKeyWords select {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 37px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    background: #fff;
    padding: 9px 15px 9px 15px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    outline: none;
}

.containerBody .content .contentTop .containerKeyWords select {
    font-size: 14px;
    color: #808080;
}

.containerBody .content .contentTop .containerSearch {
    display: flex;
    width: 95px;
    height: 27px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #319BFC;
    flex-direction: row;
    margin-top: 30px;
}

.containerBody .content .contentTop .containerSearch h3,
.containerBody .content .contentTop h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    color: #fff;
}

.containerBody .content .contentTop .btnContentTop {
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
}


.containerBody .content .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: center;
    gap: 22px;
}

.containerBody .content .gridContainer .gridContainerProduct {
    width: 100%;
    height: 306px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1),
        5px 5px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 19px 20px 7px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 17px;
}

.containerBody .content .gridContainer .gridContainerProduct h5 {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 2 7px 2 7px;
    margin-top: 11px;
    justify-content: center;
}

.containerBody .content .gridContainer .gridContainerProduct h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    padding: 17px 0 17px 0;
}

.containerBody .content .gridContainer .gridContainerProduct .containerBtnBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerBody .content .gridContainer .gridContainerProduct .containerBtnBottom {
    width: 100%;
    padding: 0 7px 0 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerBody .content .gridContainer .gridContainerProduct .btnBottom {
    width: 72px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #319BFC;
    flex-direction: row;
    border-radius: 5px;
}


@media screen and (max-width: 1100px) {
    .containerAddProduct .containerAddProductBottom {
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerAddProduct .containerAddProductLeft .containerTitleProduct .mtProduct {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .containerNavBar .containerLogin .responsiveMenu {
        opacity: 1;
        visibility: visible;
    }

    .containerBody .sidebar {
        display: flex;
        position: fixed;
        width: 211px;
        height: 78%;
        margin-top: 50px;
        border-radius: 10px;
        background: #fff;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .containerBody .content {
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 0px;
        padding: 50px 60px 70px 60px;
        /* justify-content: center; */
        flex-direction: column;
    }

    .containerBody .sidebar.active {
        opacity: 1;
        visibility: visible;

    }

    .containerAddProduct .containerAddProductLeft .containerTitleProduct .mtProduct {
        margin-top: 20px;
    }

    .containerAddProduct .containerAddProductBottom {
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerBody .content .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
    gap: 22px;
}
}


@media screen and (max-width: 900px) {
    .containerBody .content .contentTop .balance {
        width: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .containerBody .content .contentTop .balance h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26.63px;
        color: #000;
    }

    .containerBody .content .contentTop .balance h4 {
        font-size: 12px;
        font-weight: 400;
        line-height: 16.94px;
        color: #000;
    }

    .containerNavBar .withImg {
        width: 120px;
        height: 30px;
    }

    .containerAddProduct .containerAddProductBottom {
        width: 100%;
        margin-top: 180px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerAddProduct .containerAddProductLeft .containerTitleProduct .mtProduct {
        margin-top: 30px;
    }

    .containerBody .content .gridContainer {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        justify-content: center;
        gap: 22px;
    }
}

@media screen and (max-width: 800px) {
    .containerBody {
        width: 100%;
        height: 100%;
        background-image: url('../images/bg.jpg');
        display: flex;
        padding: 42px 4px 0px 4px;
    }

    .containerBody .content {
        width: 100%;
        height: 100%;
        display: flex;
        margin-left: 0px;
        padding: 50px 0px 70px 0px;
        /* justify-content: center; */
        flex-direction: column;
    }

    .containerBody .content .contentTop {

        width: 100%;
        height: 103px;
        border-radius: 10px;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        padding: 20px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
    }

    .containerBody .content .contentTop .balance h3 {
        font-size: 14px;
        font-weight: 700;
        color: #000;
    }

    .containerBody .content .contentTop .balance h4 {
        font-size: 10px;
        font-weight: 400;
        color: #000;
    }

    .containerBody .content .contentBottom .titleTable h4 {
        font-size: 12px;
        font-weight: 400;
        line-height: 10.94px;
        color: #000;
        width: 100px;
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .containerBody .content .contentBottom .DescriptionTable h4 {
        font-size: 12px;
        font-weight: 400;
        line-height: 10.94px;
        color: #000;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100px;
        gap: 10px;
    }

    .containerNavBar .withImg {
        width: 80px;
        height: 26px;
    }

    .userName {
        display: flex;
        gap: 4px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }


    .containerAddProduct {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: #fff;
        padding: 50px 10px 50px 10px;
        border-radius: 0;
    }

    .containerAddProductDescription {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
    }

    .containerAddProduct .containerAddProductLeft {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 25px;
    }

    .containerAddProduct .containerAddProductRight {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
    }

    .containerAddProduct .containerAddProductLeft .containerTitleProduct .mtProduct {
        margin-top: 20px;
    }

    .containerAddProduct .containerAddProductBottom {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    .containerBody .content .gridContainer {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        justify-content: center;
        gap: 22px;
    }

    .containerBody .content .contentTop {

        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        padding: 20px 80px 20px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .containerBody .content .contentTop .containerKeyWords {
        position: relative;
        margin-top: 4px;
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 400px) {
    .containerAddProduct .containerAddProductBottom {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerBody {
        padding: 0;
    }

    .containerAddProduct {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: #fff;
        padding: 100px 10px 50px 10px;
        border-radius: 0;
    }

    .containerBody .content {
        width: 100%;
        height: 100%;
        display: flex;
        margin-left: 0px;
        padding: 80px 10px 10px 10px;
        justify-content: center;
        flex-direction: column;
    }

    .containerBodyDeposit .containerDeposit .containerAll {
        width: 392px;
        height: 100%;
        margin: 132px 180px 78px 180px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
    }
}


@media screen and (min-height: 1000px) {
    .containerBody {
        width: 100%;
        height: 100vh;
        background-image: url('../images/bg.jpg');
        display: flex;
        padding: 42px 4px 0px 4px;
    }

    .containerBody .content .contentBottom {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-top: 42px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}